<?xml version="1.0" encoding="utf-8" ?>
<gravitateWebsite systemDefaultURL="/Dashboard" systemDefaultMobileURL="/Custom/PricingDashboard/MobilePriceReport">
  <defaultURLs>
    <add portalId ="1" role="PromptPurchaser" url="/Dashboard" mobileUrl="/Pricing/TradeExecution/MobilePrompt" />
    <add portalId ="1" role="InternalUser" url="/Custom/Pricing" mobileUrl="/Pricing/TradeExecution/MobilePrompt" />
    <!--<add role="InternalUser" url="/Dashboard" mobileUrl="/Pricing/TradeExecution/MobilePrompt" />-->
  </defaultURLs>
</gravitateWebsite> 
